.caption {
    margin: 0;
    font-size: calc(var(--vh, 1vh) * 8.96);
    line-height: 1.345;
    color: $text-inactive;

    &--smaller {
        font-size: calc(var(--vh, 1vh) * 6.66);
    }

    &__line {
        display: block;

        &--mark {
            color: #fff;
        }
    }
}