.hero {
    padding-top: 33vh;

    @media (min-width: $laptop) {
        padding-top: 21.5vh;
    }

    &__inner {
        max-width: 1280px;
        margin: 0 auto;

        @media (min-width: $laptop) {
            margin-left: 13%;
        }

        @media (min-width: $final-width) {
            margin-left: auto;
        }
    }
}