.hero {
    padding-top: calc(var(--vh, 1vh) * 33);

    @media (min-width: $laptop) {
        padding-top: calc(var(--vh, 1vh) * 21.5);
    }

    &__inner {
        max-width: 1280px;
        margin: 0 auto;

        @media (min-width: $laptop) {
            margin-left: 13%;
        }

        @media (min-width: $final-width) {
            margin-left: auto;
        }
    }
}