.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        position: relative;
        padding-left: 50px;
        padding-right: 50px;

        @media (max-width: $laptop) {
            padding-left: 5vw;
            padding-right: 5vw;
        }

        &::after {
            position: absolute;
            top: calc(50% - 5px);
            width: 1px;
            height: 10px;
            background-color: currentColor;
        }

        &:first-of-type {
            padding-left: 0;

            &::after {
                content: '';
                right: 0;
            }
        }

        &:last-of-type {
            padding-right: 0;

            &::after {
                content: '';
                left: 0;
            }
        }
    }

    &__link {
        display: block;
        padding: 0 10px;
        color: inherit;
        text-decoration: none;

        &--nav {
            opacity: .1;
        }

        &--current {
            opacity: 1;
        }
    }
}