// colors
$bg-color: #171718;
$link-inactive: #333;
$text-inactive : #5e5e5e;
$text-shadow-color-back: #ff0000;
$text-shadow-color-forward: #0020ff;

// breakpoints
$laptop: 1024px;
$desktop: 1366px;
$final-width: 1920px;
$critical-height: 420px;

// indent
$horizontal-mob: 12.5%;
$horizontal-lap: 10%;
$horizontal-desk: 5.75%;